.search {
    display: flex;
}

.searchbox {
    display: flex;
    background-color: gray;
    width: 20%;
    height: 750px;
    flex-direction: column
}

.resultsBox {
    width: 80%;
    background-color: blue;
    display: grid;
    grid-template-columns: 1fr 1fr
}